@mixin pc-width(){
  @media screen and (min-width: 576px){
    @content;
  }
}

.main {
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  &--dark{
    background: #4a2e0d;
  }
  &--light{
    background: #D3964E;
  }
}

.head {
  display: flex;
  height: 3rem;
  &__icon {
    border: 1.5px solid #fff;
    color: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 2.75rem;
    height: 2.75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    outline: none;
    &--active:hover {
      cursor: pointer;
      filter: brightness(0.8);
    }
    &:not(.head__icon--active) {
      opacity: 0.6;
    }
  }
}
.head__box {
  &--4 {
    width: 33.33%;
  }
  &--8 {
    width: 66.66%;
  }
  &--start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &--end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.content {
  position: relative;
  width: 90vw;
  margin: 3rem auto 0;
  
  &__title {
    border: none;
    outline: none;
    background: #FFFDF0;
    width: 100%;
    font-size: 3rem;
    margin: 0 auto;
    padding: 1rem;
    display: block;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.content__detail {
  border-top: 1px solid #d3964e80;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: block;
  font-family: "Marck Script", cursive;
  margin: 0 auto;
  padding: 1rem;
  min-height: calc(100vh - 150px);
  width: 100%;
  line-height: 50px;
  font-size: 24px;
  background-image: -webkit-linear-gradient(
    top,
    #fffcef,
    #fffcef 49px,
    #d3964e80 0
  );
  background-size: 100% 50px;
  outline: none;
  box-sizing: border-box;
}
