<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<!-- 使用 formGroup 屬性繫結，將 checkoutForm 繫結到 template 上 -->
<!-- 使用 ngSubmit 事件繫結來監聽表單提交，並使用 checkoutForm value 呼叫 onSubmit() method -->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name"> Name </label>
    <!-- formControlName 屬性繫結：根據名字將 checkoutForm 表單的控制元件 name、address 繫結到 input 欄位 -->
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <label for="address"> Address </label>
    <input id="address" type="text" formControlName="address" />
  </div>
  <button type="submit">Purchase</button>
</form>
